.nav-shadow {
  box-shadow: 0 4px 7px #00000069;
}

nav.sidebar.translated {
  transform: translateX(-16rem);
}

nav.sidebar {
  transform: translateX(0rem);
  transition: transform 0.3s ease-in-out;
}

.sideBarBack {
  width: calc(100vw + 16rem);
}
