form{
    box-shadow: 3px 3px 26px 1px #0000005c;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}
.form-group label{
    align-self: self-start;
    font-weight: 570;
}

.form-group input{
    background-color: unset;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #c2c1c1ec;
}

.inputs [type=submit]{
    transition: all 0.1s ease-in-out;
 box-shadow: 0px 3px 5px 1px #00000043;
}

.inputs [type=submit]:hover{
    box-shadow: 0px 3px 5px 1px #000000bf;
}