footer{
    display: flex;
    flex-direction: column;
    bottom: 0;
}

footer a{
    color: aliceblue;
}

footer > .infoFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: chocolate;
    padding: 15px 0 0 0 ;
}

footer > .infoFooter ul {
    list-style: none;
    padding: 0;
}

footer .copyright{
    background-color: slategrey;
}